<div class="mt-8 max-w-29rem surface-card p-4 shadow-2 border-round w-full lg:w-6 mx-auto justify-center items-center">
    <div class="text-center mb-5">
        <img src="assets/icons/favicons/android-chrome-192x192.png" alt="Вход" height="50" class="mb-3">
        <div class="text-900 text-3xl font-medium mb-3">Вход в информационную систему</div>
        <span class="text-600 font-medium line-height-3">Нет аккаунта?</span>
        <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Зарегистрироваться.</a>
    </div>

    <div>
        <label for="email1" class="block text-900 font-medium mb-2">Логин</label>
        <input id="email1" type="text" placeholder="Логин" pInputText class="w-full mb-3">

        <label for="password1" class="block text-900 font-medium mb-2">Пароль</label>
        <input id="password1" type="password" placeholder="Пароль" pInputText class="w-full mb-3">
        <button (click)="getAll()" pButton pRipple label="Вход" icon="pi pi-user" class="w-full"></button>
    </div>
</div>